body{
	background-color: #fd7d5f;
	font-family: Arial;
}
#container {
	
	background-color: #FFFF00;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}	
#header {
	background-color: #66ccff;
	color: White;
	text-align: center;
	padding: 10px;
}
#content{
	padding: 50px;
}

#main {
	width: 600px;	
	float: left;
}
